<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../assets/css/styles_home.css" />
</head>

<body>

    <nav id="nav">
        <div class="nav-logo">
            <div class="nav-heading">
                <img src="../assets/img/logo.png" alt="">
            </div>

            <div class="hamburger">
                <a href="#"><i class="far fa-moon white "></i></a>
                <a href="#"><i class="fas fa-bars "></i></a>
            </div>
        </div>
        <ul class="nav-links">
            <li><a>Nuestros servicios</a></li>
            <li><a>Nuestros trabajos</a></li>
            <li><a>Acerca de</a></li>
            <li><a>Contáctanos</a></li>
            <li><button class="btn" id="btnf">Iniciar sesión</button></li>
            <li><button class="btn" id="btnf">Registrarse</button></li>
            

            <!-- <div class="search-section">
                    <span class="search"><input type="search" placeholder="Enter to search"> <button
                            class="search-btn"><i class="fas fa-search"></i></button></span>
            </div> -->

            <span><i class="far fa-moon white night"></i></span>
        </ul>
    </nav> 


    <div class="content">
        <div class="main-page">
            <div class="welcome">
                <h2>Bienvenido de nuevo</h2>
                <span class="guide">Por favor entra tus datoss.</span>
            </div>
            <form class="form" action="#!">
                <label for="email" class="label">
                    Email
                    <input name="email" type="email" class="input-field" id="email"
                           placeholder="Escribe tu email" />
                </label>

                <label for="password" class="label">
                    Contraseña
                    <input name="password" type="password" class="input-field" id="password"
                           placeholder="Escribe tu contraseña" />
                </label>


                <div class="actions">

                    <a href="#!">¿Olvidaste tu contraseña?</a>
                </div>
                <button class="btn">Iniciar sesión</button>
            </form>

            <p id="reg"><a href="#!">¿No tienes cuenta? <br> Regístrate</a></p>
        </div>
        <div class="image-container">
            <img src="https://images.unsplash.com/photo-1696610358567-0a75265c73b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="Descripción de la imagen">
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="column" id="fimg-container">
                <img id="fimg" src="../assets/img/logo.png" alt="">
            </div>
            <div class="column">
                <p>Contáctanos</p>
                <p>+57 315 3670951 </p>
            </div>
            <div class="column">
                <p>Encuéntranos</p>
                <p> Calle 93 No. 60B-65 Oficina 301 </p>
            </div>
            <div class="column">
                <p>Bogotá D.C. </p>
                <p> Colombia </p>
            </div>

            <div class="column">
                <button class="btn" id="btnf">Iniciar sesión</button>
            </div>
            <div class="column">
                <button class="btn" id="btnf2">Registrarse</button>
            </div>
    </footer>

</body>

</html>